@import "../../Shared/Styles/_variables";
@import "../../Shared/Styles/_mixins";

#wrapper {
    --sidebar-width-lg: 280px;
    --sidebar-width-xl: 200px;
    display: grid;
    grid-template-areas: "sidebar content content";
    grid-template-columns: var(--sidebar-width-lg) auto;
    height: 100vh;
    max-height: 100vh;
    color: var(--text-color);

    .dark-mode-toggle {
        display: flex;
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--button-background);
        color: var(--button-icon-color);
        cursor: pointer;
        opacity: .5;
        @include transition-for(opacity);

        &:hover {
            opacity: 1;
        }

        i {
            margin: auto;
        }
    }

    #sidebar {
        display: flex;
        flex-flow: column nowrap;
        grid-area: sidebar;
        background-color: var(--foreground-color);
        color: inherit;
        overflow: hidden;
        white-space: nowrap;

        #siteTitle {
            display: flex;
            align-items: center;
            height: 100px;
            margin-block: 20px;
            justify-content: center;
            text-decoration: none;
            color: inherit;

            .title-text {
                font-size: xx-large;
                font-weight: bold;
                margin-left: 20px;

                p {
                    margin: 0;
                }
            }
        }

        nav#sidenav {
            display: flex;
            padding-top: 50px;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;

            $nav-item-height: 60px;

            ::deep a.sidenav-item {
                display: flex;
                width: 90%;
                height: $nav-item-height;
                align-items: center;
                padding-inline: 20px;
                margin: 5px;
                color: var(--text-color) !important;
                text-decoration: none;
                font-size: larger;
                border-radius: 5px;
                @include transition-for(background-color);

                &.active {
                    background-color: var(--active-color);
                }

                &:hover:not(.active) {
                    background-color: var(--hover-color);
                }
            }
        }

        #sidebarFooter {
            display: flex;
            flex-flow: column nowrap;
            margin-top: auto;
            padding: 20px;
            align-items: center;
            justify-content: center;

            .user-authentication {
                font-size: larger;
                margin-bottom: 30px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    #content {
        grid-area: content;
        background-color: var(--background-color);
        padding: 30px;
    }
}

// md
@media (max-width: #{$bp-md}) {
    #wrapper {
        grid-template-columns: 0 auto;

        #sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

// lg
@media (min-width: #{$bp-lg}) {
}

// xl
@media (min-width: #{$bp-xl}) {
    #wrapper {
        #content {
            padding-inline: 50px;
        }
    }
}

// xxl
@media (min-width: #{$bp-xxl}) {
    #wrapper {
        #content {
            padding-inline: 10vw;
        }
    }
}


#wrapper.dark-mode {
    --background-color: #{$black};
    --foreground-color: #{$grey};
    --text-color: #{$white};

    .dark-mode-toggle {
        --button-background: #{darken($offwhite, 20)};
        --button-icon-color: #{$black};
    }

    #sidebar {
        #siteTitle {
            color: lighten($grey, 65);
        }

        nav#sidenav {
            --active-color: #{lighten($grey, 14)};
            --hover-color: #{lighten($grey, 8)};
        }
    }
}

#wrapper:not(.dark-mode) {
    --background-color: #{$offwhite};
    --foreground-color: #{$white};
    --text-color: #{$black};

    .dark-mode-toggle {
        --button-background: #{$black};
        --button-icon-color: #{$offwhite};
    }

    #sidebar {
        #siteTitle {
            color: darken($white, 70);
        }

        nav#sidenav {
            --active-color: #{darken($white, 10)};
            --hover-color: #{darken($white, 6)};
        }
    }
}
