#wrapper {
  --sidebar-width-lg: 280px;
  --sidebar-width-xl: 200px;
  display: grid;
  grid-template-areas: "sidebar content content";
  grid-template-columns: var(--sidebar-width-lg) auto;
  height: 100vh;
  max-height: 100vh;
  color: var(--text-color);
}
#wrapper .dark-mode-toggle {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--button-background);
  color: var(--button-icon-color);
  cursor: pointer;
  opacity: 0.5;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: opacity;
}
#wrapper .dark-mode-toggle:hover {
  opacity: 1;
}
#wrapper .dark-mode-toggle i {
  margin: auto;
}
#wrapper #sidebar {
  display: flex;
  flex-flow: column nowrap;
  grid-area: sidebar;
  background-color: var(--foreground-color);
  color: inherit;
  overflow: hidden;
  white-space: nowrap;
}
#wrapper #sidebar #siteTitle {
  display: flex;
  align-items: center;
  height: 100px;
  margin-block: 20px;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
#wrapper #sidebar #siteTitle .title-text {
  font-size: xx-large;
  font-weight: bold;
  margin-left: 20px;
}
#wrapper #sidebar #siteTitle .title-text p {
  margin: 0;
}
#wrapper #sidebar nav#sidenav {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
#wrapper #sidebar nav#sidenav ::deep a.sidenav-item {
  display: flex;
  width: 90%;
  height: 60px;
  align-items: center;
  padding-inline: 20px;
  margin: 5px;
  color: var(--text-color) !important;
  text-decoration: none;
  font-size: larger;
  border-radius: 5px;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: background-color;
}
#wrapper #sidebar nav#sidenav ::deep a.sidenav-item.active {
  background-color: var(--active-color);
}
#wrapper #sidebar nav#sidenav ::deep a.sidenav-item:hover:not(.active) {
  background-color: var(--hover-color);
}
#wrapper #sidebar #sidebarFooter {
  display: flex;
  flex-flow: column nowrap;
  margin-top: auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
#wrapper #sidebar #sidebarFooter .user-authentication {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 30px;
  cursor: pointer;
}
#wrapper #sidebar #sidebarFooter .user-authentication a {
  text-decoration: none;
  color: inherit;
}
#wrapper #content {
  grid-area: content;
  background-color: var(--background-color);
  padding: 30px;
}

@media (max-width: 768px) {
  #wrapper {
    grid-template-columns: 0 auto;
  }
  #wrapper #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  #wrapper #content {
    padding-inline: 50px;
  }
}
@media (min-width: 1400px) {
  #wrapper #content {
    padding-inline: 10vw;
  }
}
#wrapper.dark-mode {
  --background-color: #1B1B1B;
  --foreground-color: #2C2D31;
  --text-color: #FDFDFD;
}
#wrapper.dark-mode .dark-mode-toggle {
  --button-background: #b7bcc6;
  --button-icon-color: #1B1B1B;
}
#wrapper.dark-mode #sidebar #siteTitle {
  color: #d2d3d7;
}
#wrapper.dark-mode #sidebar nav#sidenav {
  --active-color: #4e5057;
  --hover-color: #3f4146;
}

#wrapper:not(.dark-mode) {
  --background-color: #F0F1F3;
  --foreground-color: #FDFDFD;
  --text-color: #1B1B1B;
}
#wrapper:not(.dark-mode) .dark-mode-toggle {
  --button-background: #1B1B1B;
  --button-icon-color: #F0F1F3;
}
#wrapper:not(.dark-mode) #sidebar #siteTitle {
  color: #4b4b4b;
}
#wrapper:not(.dark-mode) #sidebar nav#sidenav {
  --active-color: #e4e4e4;
  --hover-color: #eeeeee;
}
