@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Blazored.LocalStorage

@inherits LayoutComponentBase

@inject NavigationManager NavManager
@inject ISyncLocalStorageService LocalStorage
@inject IJSRuntime JSRuntime

<div id="wrapper" class="@( DarkModeEnabled ? "dark-mode" : "" )">
    <div class="dark-mode-toggle" @onclick="DarkModeToggled" role="button" title="@(DarkModeEnabled ? "Enable light theme" : "Enable dark theme")">
        @if (DarkModeEnabled)
        {
            <i class="fa-solid fa-fw fa-sun-bright fa-xl"></i>
        }
        else
        {
            <i class="fa-solid fa-fw fa-moon fa-xl"></i>
        }
    </div>
    <div id="sidebar">
        <a href="/" id="siteTitle">
            <i class="fa-duotone fa-kitchen-set fa-4x"></i>
            <div class="title-text"><p>Recipes</p><p>.NET</p></div>
        </a>
        <nav id="sidenav">
            <NavLink class="sidenav-item" href="" Match="NavLinkMatch.All">
                <i class="fa-duotone fa-fw fa-house"></i>&nbsp;&nbsp;<span>Home</span>
            </NavLink>
            <NavLink class="sidenav-item" href="/counter" Match="NavLinkMatch.All">
                <i class="fa-duotone fa-fw fa-chart-pie-simple"></i>&nbsp;&nbsp;<span>Dashboard</span>
            </NavLink>
        </nav>
        <div id="sidebarFooter">
            <div class="user-authentication">
                <AuthorizeView>
                    <Authorized>
                        @*<button type="button" class="btn btn-link" @onclick="BeginLogIn"><i class="fa-regular fa-fw fa-right-to-bracket fa-xl"></i>&nbsp;Log In</button>*@
                        <button type="button" class="btn btn-link" @onclick="BeginLogOut"><i class="fa-regular fa-fw fa-power-off fa-xl"></i>&nbsp;Log Out</button>
                    </Authorized>
                    <NotAuthorized>
                        <a href="authentication/login" class="btn btn-link"><i class="fa-regular fa-fw fa-right-to-bracket fa-xl"></i>&nbsp;Log In</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>

    <main id="content">
        @Body
    </main>
</div>

@code {
    private ValueTask<IJSObjectReference> GetPageModule() => JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/MainLayout.razor.js");

    public bool DarkModeEnabled
    {
        get => LocalStorage.GetItem<bool>(nameof(DarkModeEnabled));
        set
        {
            LocalStorage.SetItem(nameof(DarkModeEnabled), value);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var module = await GetPageModule();
            await module.InvokeVoidAsync("initializeDarkModePreference", nameof(DarkModeEnabled));
        }
    }

    public void DarkModeToggled(MouseEventArgs args)
    {
        DarkModeEnabled = !DarkModeEnabled;
    }

    //protected void BeginLogIn(MouseEventArgs args)
    //{
    //    NavManager.NavigateToLogin("authentication/login");
    //}

    protected void BeginLogOut(MouseEventArgs args)
    {
        NavManager.NavigateToLogout("authentication/logout");
    }
}